.about {
    @include max-width(1050px);

    h2 {
        margin-bottom: 25px;
        flex-basis: 100%;
    }

    .about__pictures {
        @extend .flex-container;
        margin: 50px 0px 80px 0px;
    
        .about__pictures-figure {
            margin: 5px;
            width: 129px;
    
            @media (min-width: $tablet-min-width) {
                width: 250px;
            }
        }
    }
    
    .about__vision {
        background-color: $color-brand;
        color: $color-white; 
        padding: 30px;
        margin: 40px 0px 60px 0px;
    
        .about__vision-icon {
            margin-top: -8px;
            margin-right: 13px;
        }
    }
    
    .about__contactInformation {
        @extend .flex-container;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    .about__feedback {
        @extend .flex-container;
        justify-content: space-between;
        gap: 10px;
    
        .about__feedback-content {
            background-color: $color-dark-background;
            flex-grow: 1;
            padding: 10px;
        }
    
        .about__feedback-icon {
            color: $color-star;
        }
    }
}