$color-brand: #173962; 
$color-button: #186999;
$color-star: #FFBA44; 
$color-success: #356D55; 
$color-error-danger: #9B3530; 
$color-light-background: #FCFCFC; 
$color-dark-background: #F2F2F2; 
$color-active-link: #747474;
$color-white: #FFFFFF; 
$color-black: #000000; 

$font-heading: 'IBM Plex Mono', monospace;
$font-text: 'Montserrat', sans-serif;

$mobile-large: 450px;
$tablet-min-width: 650px;
$computer-min-width: 900px; 